@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
* header  - z-index: 2;
* &:before(плашка для header) - z-index: 0;
* &__logo - z-index: 2;
* &__list(меню в шапке) - z-index: 2

* Для медиа запросов
* &:before(плашка для header) - z-index: 3;
* &__burger  - z-index: 3;
* &__logo - z-index: 3;
*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c97f6d;
  z-index: 0;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 80px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.header__logo img {
  min-width: 100%;
  height: auto;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-left: 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: helvetica, Roboto;
}

.content {
  padding-top: 100px;
}

.content__text {
  color: #54545a;
  font-size: 18px;
  font-family: helvetica, Roboto;
  line-height: 21px;
  text-align: justify;
}

.content__text p {
  margin: 0 0 20px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header:before {
    z-index: 2;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    background: #fff;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .header__burger.activeMenu::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.activeMenu::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.activeMenu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #4685e2;
    padding: 90px 10px 20px 10px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .header__menu.activeMenu {
    top: 0;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    z-index: 3;
  }
  .header__body {
    height: 50px;
  }
  .header__list {
    display: block;
    z-index: 2;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

/*
    ?sdfsdfsdfsdf
    !sdfsdfsdfsdfsd
    *sdsdfsdfsdf
    TODO: list
    @fdgdftg 
*/
