* {
    padding: 0;
    margin: 0;
    border: 0;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}


nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
    font-family: inherit;
}


input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

//END reset Css





/*
* header  - z-index: 2;
* &:before(плашка для header) - z-index: 0;
* &__logo - z-index: 2;
* &__list(меню в шапке) - z-index: 2

* Для медиа запросов
* &:before(плашка для header) - z-index: 3;
* &__burger  - z-index: 3;
* &__logo - z-index: 3;
*/



.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &:before {
        //плашка
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(201, 127, 109);
        z-index: 0;
    }

    &__body {
        //*контентная часть шапки
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        height: 80px;
    }

    &__logo {
        flex: 0 0 60px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 2;

        img {
            min-width: 100%;
            height: auto;
            display: block;
        }
    }

    &__burger {
        display: none;

        &__menu {
            //*nav для списка меню в шапке

        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        position: relative;
        z-index: 2;

        li {
            margin-left: 20px;
        }
    }

    &__link {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-family: helvetica, Roboto;
    }

}

// ! END header



.content {
    padding-top: 100px;

    &__text {
        color: rgb(84, 84, 90);
        font-size: 18px;
        font-family: helvetica, Roboto;
        line-height: 21px;
        text-align: justify;

        p {
            margin: 0 0 20px 0;

            &:first-child {}
        }
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
}

//9:09



@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        &:before {
            //плашка
            z-index: 2;
        }

        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

            &:before,
            &:after {
                content: '';
                background: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                transition: all .2s ease-out;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;

            }

            span {
                background: #fff;
                position: absolute;
                left: 0;
                top: 9px;
                width: 100%;
                height: 2px;
                transition: all .2s ease-out;
            }

            &.activeMenu::before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.activeMenu::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &.activeMenu {
                span {

                    transform: scale(0);
                }
            }
        }

        //! END &__burger




        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: rgb(70, 133, 226);
            padding: 90px 10px 20px 10px;
            transition: all .2s ease-out;

            &.activeMenu {
                top: 0;
            }
        }

        &__logo {
            flex: 0 0 40px;
            z-index: 3;

            img {}
        }

        &__body {
            height: 50px;
        }

        &__list {
            display: block;
            z-index: 2;

            li {
                margin: 0 0 20px 0;
            }
        }
    }

    //! END Header
}

// ! END Media










/*
    ?sdfsdfsdfsdf
    !sdfsdfsdfsdfsd
    *sdsdfsdfsdf
    TODO: list
    @fdgdftg 
*/