.parrent {}

.parrent__block1 {}

.parrent__block2 {
    color: aliceblue;
}

.newClass {}

@media screen and(max-width: 767px) {
    .parrent__block2 {
        // color: #fff;
    }

    .class {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
}

/*
?sdfsdfsdfsdf
!sdfsdfsdfsdfsd
*sdsdfsdfsdf
TODO: list
@fdgdftg 
*/